@CHARSET "ISO-8859-1";
body{
	background-color: #222222;
	color: white;
}
p{
	background-color: red;
}
#p1{
	position: static;
}
#p2{
	position: fixed;
	top: 500px;
}
#p3{
	position: relative;
}
#p4{
	width: 20%;
	height: 200px;
	position: absolute;
	overflow: scroll;
}
#p5{
	width: 20%;
	height: 200px;
	float: right;
	overflow: scroll;
}
#p6{
	width: 50%;
	margin: auto;
}
